################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DefaultStructEqualityProblem/obj
/.vs/DefaultStructEqualityProblem
/DefaultStructEqualityProblem/bin/Debug/net5.0
/DefaultStructEqualityProblem/bin/Release/net5.0
